/* Place CSS styles here */

body{
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #11574b;

}
  
.genres {
    text-align: left;
    list-style-position: inside;
}

.NEM{
  text-align: left;
}
.offcanvas-nav {
    position: relative;
  }
  
  .menu {
    position: fixed;
    top: 20px;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .menu.expanded {
    transform: translateX(0);
  
  .menu-toggle {
  
    }}
  
  @media (min-width: 768px) {
  .offcanvas-nav {
      display: block; 
  .menu {
      display: block;
      position: static;
      width: auto;
      transform: none;
      box-shadow: none;
    }
  .menu-toggle {
      display: none;
    }
  }
}
