/* Place CSS styles here */
body{
    font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #11574b;

}
  
.genres {
    text-align: left;
    list-style-position: inside;
}

.NEM{
  text-align: left;
}